*.o

*.so

*.d

*.out

test_qreach

/cflobdd/CFLOBDD/*.o

/python_pkg/*.so

/python_pkg/benchmark/

/python_pkg/output/

/python_pkg/boost_1_81_0/

/python_pkg/__pycache__/

/.vscode/

*.png

*.smv

/NuSMV-2.7.0-linux64/